/* Zefiro Default CSS */
/* last known update: 2013-02-04 */

/* * { border:1px dotted silver; }*/

html {
	overflow: -moz-scrollbars-vertical;
}

/* BODY --------------------------------------------------------------------- */

body,table,input,textarea {
	color:#000; /* black */
	font-family:Arial,sans-serif;
	font-size:.8rem;
	line-height:1.25rem;
}

body {
	background-color:#444; /* gray */
	border:1px solid #222; /* dark gray */
	margin:1.25rem auto;
	padding:0;
	width:53.75rem;
}

body.print #header {
	background-image:none;
	height:4.375rem;
}
body.print {
	border:0;
}

/* DIVISIONS ---------------------------------------------------------------- */

div {
	margin:0;
	padding:0;
}

div.left {
	left:0;
	position:absolute;
	top:0;
}

div.right {
	position:absolute;
	right:0;
	top:0;
}

div.bar {
	background-color:#ccc; /* bright gray */
	color:#222; /* very dark gray */
	font-size:.8rem;
	height:1.25rem;
	line-height:1rem;
	position:relative;
}

div.bar a {
	color:#222; /* bright gray */
	text-decoration:none;
}

div.bar div {
	padding:3px 6px;
}

div.buttons {
	margin:0;
	padding:0.3125rem 0;
	line-height:1.875rem;
}
div.relative{
	position: relative;
	margin-top: 0.5rem;
}
div.block {
	padding: 0.5rem 1rem;
	margin-bottom: 1rem;
	border: 2px solid lightgray;
	position: relative;
}


/* show'n'hide-elements (css-checkbox-trick to show and hide elements)*/
.hide_show_label{
	font-weight: bold;
	font-size: 1rem;
	padding: 0.5rem;
	background-color: lightgray;
	display: block;
}
.hide_show_label::before{
	content: '';
	position: absolute;
	width: 1.2rem;
	height: 1.2rem;
	background-size: contain;
	right: 2rem;
	top: 0.5rem;
	background-image: url(../images/fugue-icons_zefiro/control.png);
	background-repeat: no-repeat;
	background-position: right center;
	transform: rotate(90deg);
}
.hide_show_checkbox:not(:checked) + .hide_show_label:before{
	transform: rotate(270deg);
}
.hide_show_checkbox{
	display: none;
}
.hide_show_checkbox:checked ~ .hide_show_element{
	display: none;
}


/* special divisions */

#header {
	background-color:#eee; /* very bright gray */
	color:#444; /* dark gray */
	height:6.25rem;
	position:relative;
}

#breadcrumbs {
	font-weight:bold;
}

#options {
	position:relative;
	background-color:#fff; /* white */
	font-size:.8rem;
	line-height:1rem;
	padding:0.3125rem;
}

#options ul {
	padding:0;
	margin:0;
}

#options li {
	display: inline;
}

#body {
	background-color:#fff; /* white */
	position:relative;
}

#content {
	min-height:37.7rem;
	padding:1rem 1.25rem 1rem 1.25rem;
	width:39rem;
}

#sidebar {
	min-height:37.7rem;
	padding:1rem 1.25rem 1rem 1.25rem;
	width:10rem;
}

/* HEADINGS ----------------------------------------------------------------- */

h1,h2,h3,h4 {
	font-weight:bold;
	margin:0;
	padding:0;
}

h1 {
	font-size:1.5rem;
	line-height:1.875rem;
	padding:1.25rem 0 0.625rem 1.25rem;
}

h2 {
	font-size:1.125rem;
	line-height:1.25rem;
	padding:0.3125rem 0;
}

h3 {
	font-size:0.875rem;
	line-height:1.25rem;
	padding:0.3125rem 0;
}

h4 {
	font-size:.8rem;
	line-height:1.25rem;
	padding:0.3125rem 0;
	text-decoration: underline overline;
}

/* PARAGRAPHS --------------------------------------------------------------- */

p {
	margin:0;
	padding:0.3125rem 0;
}

#header p {
	padding:0 1.25rem;
}

#sidebar p.simplemarkup {
	font-size:0.6875rem;
	line-height:1rem;
}

p.icon {
	background-position:left center;
	background-repeat:no-repeat;
	padding-left:1.25rem;
}

p.small {
	padding:2px 0;
}

/* TABLES ------------------------------------------------------------------- */

table,tr,th,td {
	border:0;
	border-collapse:collapse;
	margin:0;
	padding:0;
}

th {
	font-weight:bold;
	text-align:left;
	vertical-align:top;
	font-size:.8rem;
}

td {
	text-align:left;
	vertical-align:top;
}

td.align-right {
	text-align:right;
}

td.nowrap {
	white-space:nowrap;
}

/* table designs */

table.grid {
	margin:0.3125rem 0;
}

table.grid th,table.grid td {
	padding:2px 6px;
	border:1px solid #ccc; /* bright gray */
}

table.rows, table.columns {
	border:1px solid #ccc;
	margin:0.3125rem 0;
}

table.rows th, table.rows td {
	padding:2px 6px;
	border-top:1px solid #ccc; /* bright gray */
	border-bottom:1px solid #ccc; /* bright gray */
}

table.columns th, table.columns td {
	padding:2px 6px;
	border-left:1px solid #ccc; /* bright gray */
	border-right:1px solid #ccc; /* bright gray */
}

table.grid th,
table.rows th,
table.columns th {
	background-color:#f8f8ff;
}

table.invisible {
	margin:0.3125rem 0;
}

table.indented {
	margin-left:1.25rem !important;
}

td.boxed {
	border:1px solid #ccc; /* bright gray */
}

table.dataview {
	margin:10px 0;
}

table.dataview th, table.dataview td {
	padding:2px 10px 2px 0;
}

/* form layout */

form table th {
	padding:2px 10px 2px 0;
}

form table td {
	padding:2px 10px 2px 0;
}

form table a {
	text-decoration:none;
}

/* LISTS -------------------------------------------------------------------- */

ol,ul {
	margin:0 0 0 1.25rem;
	padding:0.3125rem 0;
	text-indent:0;
}

ul.no-indent {
	margin-left:0;
}

table ul {
	padding:0;
	margin:0;
}

li.indent {
	margin-left:1.25rem;
}

/* LIST ELEMENTS ------------------------------------------------------------ */

li {
	font-weight:normal;
	padding:3px 0;
}

/* LINKS -------------------------------------------------------------------- */

a {
	color:#47c; /* blue */
	text-decoration:none;
}

a:hover {
	color:#8bf; /* blue */
	text-decoration:none;
}

/* button styled links */

span.button,a.button,span.smallbutton,a.smallbutton {
	border:1px solid #ccc; /* light gray */
	color:#000; /* black */
	text-decoration:none;
}

span.button,a.button {
	font-size:13px;
	line-height:1rem;
	padding:1px 3px;
}

span.smallbutton,a.smallbutton {
	font-size:0.6875rem;
	line-height:1rem;
	padding:0 2px;
}

span.button:hover,a.button:hover,span.smallbutton:hover,a.smallbutton:hover {
	background-color:#f8f8ff; /* bright blue */
	border-color:#888;
}

span.button,span.smallbutton {
	cursor:pointer;
}

/* TEXT --------------------------------------------------------------------- */

em {
	color:#888; /* light gray */
	font-style:normal;
	font-weight:normal;
}

h2 em {
	font-weight:bold;
}

/* IMAGES ------------------------------------------------------------------- */

img {
	border:0;
}

img.icon,
ul.icons img,
li.icon img,
a.button img,
a.smallbutton img,
#options img {
	vertical-align:text-bottom;
}

/* FORMS -------------------------------------------------------------------- */

form {
	margin:0.3125rem 0;
	padding:0;
}

form label {
	font-weight:bold;
	font-size:.8rem;
	line-height:1.25rem;
}

form input,form textarea {
	font-size:.8rem;
	line-height:1.25rem;
	border:1px solid #ccc; /* bright gray */
	padding:1px 2px;
	margin:0;
	color:#333; /* gray */
}

form select {
	font-size:.8rem;
	line-height:1.25rem;
	border:1px solid #ccc; /* bright gray */
	padding:0;
	margin:0;
	color:#333; /* gray */
	width: 19.125rem;
}

form option {
	background-color:#fff; /* white */
}

form input:hover,form select:hover,form textarea:hover {
	background-color:#f8f8ff; /* bright blue */
	border-color:#888; /* light gray */
}

form input:focus,form select:focus,form textarea:focus {
	background-color:#f0f0ff; /* light blue */
	border-color:#666;
	color:black;
}

form input.button {
	padding:2px 4px;
	margin:10px 0px;
	font-size:0.875rem;
	line-height:1rem;
	font-weight:bold;
	border:2px outset #ccc; /* light gray */
	background-color:#fff; /* white */
}

form input[type="checkbox"] {
	vertical-align: middle;
}

form button {
	font-size:0.875rem;
	margin:10px 0;
	padding:0 1rem;
}

/* GENERAL CLASSES ---------------------------------------------------------- */

.small {
	font-size:0.6875rem;
	color:#888;
}

.inactive {
	color:#888 !important;
}

.inactive:hover {
	background-color:#fff !important;
	border-color:#ccc !important;
}

.align-left {
	text-align:left !important;
}

.align-right {
	text-align:right !important;
}

/* JQUERY UI ---------------------------------------------------------------- */

.ui-autocomplete {
	position:absolute;
}

.ui-menu {
	width:12.5rem;
	border:1px solid #444;
	background-color:white;
	list-style: none outside none;
}

.ui-menu-item {
	font-size:0.6875rem;
	line-height:1rem;
	padding:0.3125rem;
	margin:0;
	cursor:pointer;
}

.ui-menu-item:hover {
	background-color:#f8f8f8;
}

kbd {
	background-color: #eee;
	border-radius: 3px;
	border: 1px solid #b4b4b4;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
	color: #333;
	display: inline-block;
	font-size: .85em;
	font-weight: 700;
	line-height: 1;
	padding: 2px 4px;
	white-space: nowrap;
	margin: 1px;
}
